asgiref==3.5.0
backports.zoneinfo==0.2.1
beautifulsoup4==4.11.1
bs4==0.0.1
dj-database-url==0.5.0
Django==4.0.4
djangorestframework==3.13.1
djangorestframework-simplejwt==5.1.0
gunicorn==20.1.0
numpy==1.22.4
psycopg2==2.9.3
PyJWT==2.3.0
pytz==2022.1
soupsieve==2.3.2.post1
sqlparse==0.4.2
whitenoise==6.2.0
