{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <title>Exploratory Project</title>
    <script src="{% static 'js/base.js' %}"></script>
	<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <meta name="viewport" content="width=device-width, initial-scale=0.73">
    <style>
    body {
      background-image: url('https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fallpicts.in%2Fdownload%2F23561%2FCivil_Engineering_Desktop_Wallpaper_in_HD_1080p_%25E2%2580%2593_06_of_10_%25E2%2580%2593_Construction_Workers_Silhouette.jpg&f=1&nofb=1');
      background-repeat: no-repeat;
      background-color: black;
    }
    </style>
</head>

<body>
    <div class="w3-top w3-padding">
    <div class="w3-bar w3-centre w3-large w3-black w3-round">
      <a href="/explo/" class="w3-bar-item w3-button w3-red">Home</a>
      <a href="#" class="w3-bar-item w3-button ">Resources</a>
      <a href="#" class="w3-bar-item w3-button ">ABOUT</a>
      <div class="w3-dropdown-hover ">
        <button class="w3-button"> Projects <i class="fa fa-caret-down"></i></button>
        <div class="w3-dropdown-content w3-bar-block w3-orange">
          <a href="{% url 'explo:sans' %}" class="w3-bar-item w3-button w3-border w3-mobile w3-white">Sanskar</a>
          <a href="{% url 'explo:shear' %}" class="w3-bar-item w3-button w3-border w3-mobile w3-white">Mansi</a>
          <a href="{% url 'explo:stabilityofslope' %}" class="w3-bar-item w3-button w3-border w3-mobile w3-white">Rakshit</a>
          <a href="https://colab.research.google.com/drive/1PL8uvkCtF5iJvkhi7YIEx1tRbWFhWAX5?usp=sharing" class="w3-bar-item w3-button w3-border w3-mobile w3-white">Anand</a>
          <a href="https://colab.research.google.com/drive/1n2lXI92PVB_wcb-U9wS_dzbScBrDVqfl" class="w3-bar-item w3-button w3-border w3-mobile w3-white">Varad</a>
        </div>
      </div>
    </div>
    </div>

    {% block content %}
    {% endblock %}
</body>

</html>