{% extends 'explo/base.html' %}

{% block content %}
    <div style="height:50px"></div>

    <div class="w3-container w3-moblie w3-centered w3-padding">
        <span class="w3-tag w3-xxxlarge w3-red w3-round-xxlarge w3-card">U</span>
        <span class="w3-tag w3-xxxlarge w3-round-xxlarge w3-card">S</span>
        <span class="w3-tag w3-xxxlarge w3-yellow w3-round-xxlarge w3-card">C</span>
        <span class="w3-tag w3-xxxlarge w3-round-xxlarge w3-card">S</span>
    </div>

     <div class="w3-row w3-padding">
      <button id="b1" class="w3-button w3-ripple w3-col s6 w3-center w3-round-large" style="color:white; background-color: black;" onclick="toggleSieve('sieve1')">SET 1</button>
      <button id="b2" class="w3-button w3-ripple w3-col s6 w3-center w3-round-large" style="color:black; background-color: white;" onclick="toggleSieve('sieve2')">SET 2</button>
    </div>

    <div id="sieve1" class="w3-container w3-mobile">
        <div class="w3-card w3-border w3-center w3-black w3-padding w3-round-xxlarge">
        <form action="{% url 'explo:classifysoil' %}" method="post">

        {% csrf_token %}

        <div id="mass1" style="display:none">
          <label class="w3-tag"> Total Mass </label>
          <span><input class="w3-input" type="number" name="total_mass"></span>
        </div>

        <table class="w3-table w3-centered w3-card-4 w3-round-xlarge">
        <tr class="w3-round-xlarge">
          <th><h5><b>Sieve Size</b></h5></th>
          <th>
          <select class="w3-select w3-lightgrey" name="option1" onchange="showMass(this);">
          <option value="1">Percentage Finer</option>
          <option value="2">Mass Retained</option>
          </select>
          </th>
        </tr>

        {% for sieve in sieve1 %}
        <tr>
          <td><label class="w3-badge"> {{sieve}} </label></td>
          <td><input class="w3-input" type="number" id={{forloop.counter0}} name={{forloop.counter0}} min="0" step="0.01"></td>
        </tr>
        {% endfor %}
        <input type="hidden" name="set" value="a">

        <tr>
          <td><label class="w3-badge">  </label></td>
          <td><input class="w3-button w3-round-large w3-block w3-section w3-red w3-ripple w3-padding" type="submit" value="CLASSIFY"></td>
        </tr>
        </table>

        </form>
        </div>
    </div>

    <div id="sieve2" class="w3-container w3-mobile" style="display:none">
        <div class="w3-card w3-border w3-center w3-black w3-padding w3-round-xxlarge">
        <form action="{% url 'explo:classifysoil' %}" method="post">

        {% csrf_token %}
        <div id="mass2" style="display:none">
          <label class="w3-tag"> Total Mass </label>
          <input class="w3-input" type="number" name="total_mass">
        </div>

        <table class="w3-table w3-centered w3-card-4 w3-round-xlarge">
        <tr class="w3-round-xlarge">
          <th><h5><b>Sieve Size</b></h5></th>
          <th>
          <select class="w3-select w3-lightgrey" name="option2" onchange="showMass2(this);">
          <option value="1">Percentage Finer</option>
          <option value="2">Mass Retained</option>
          </select>
          </th>
        </tr>

        {% for sieve in sieve2 %}
        <tr>
          <td><label class="w3-badge"> {{sieve}} </label></td>
          <td><input class="w3-input" type="number" id={{forloop.counter0}} name={{forloop.counter0}} min="0" step="0.001"></td>
        </tr>
        {% endfor %}
        <input type="hidden" name="set" value="b">

        <tr>
          <td><label class="w3-badge">  </label></td>
          <td><input class="w3-button w3-round-large w3-block w3-section w3-red w3-ripple w3-padding" type="submit" value="CLASSIFY"></td>
        </tr>
        </table>

        </form>
        </div>
    </div>
{% endblock %}