{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mansi</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/page.css' %}">
</head>
<body>
    <div class="head1"> Direct Shear Test</div>
    <br>
    <br>
  <div class="br">Normal Stress  </div>
<br>
<input class="input" type="text" id="Normal Stress"></input>
<br>
<div class="br"> Shear Stress</div>
<br>
<input class="input" type="text" id="Shear Stress"></input>

<input class="button" type="button" id="button1" value="Add" onclick="add_element_to_array();"></input>
<input class="button" type="button" id="button2" value="Display" onclick="display_array();"></input>
<div id="Result"></div>
<div id="Result2"></div>

<p class="notp">Click the button to display the angle of the friction and cohesion intercept.</p>
<br>
<button onclick="Solver()">Angle of friction</button>
<button onclick="cohesion()">Cohesion intercept</button>
<button onclick="plotdata()">plot</button>
<div id="demo"></div>
<div id="demo2"></div>
<div id="test"></div>

<hr>
<div class="head2"> Triaxial Test</div>
<br>
<br>
<div class="br"> Confining Pressure </div>
<br>
<input class="input" type="text" id="Confining Pressure"></input>
<br>
<div class="br"> Max. Deviator pressure</div>
<br>
<input class="input" type="text" id="Max. Deviator Pressure"></input>
<br>
<div class="br"> Pore water pressure</div>
<br>
<input class="input" type="text" id="pore water Pressure"></input>

<input class="button" type="button" id="button1" value="Add" onclick="add();"></input>
<input class="button" type="button" id="button2" value="Display" onclick="display();"></input>
<div id="T1"></div>
<div id="T2"></div>
<div id="T3"></div>
<p class="notp">Click the button to display the angle of the friction and cohesion intercept for total stress envelope.</p>
<br>
<button onclick="rc_calculator()">angle of friction(Φ) </button>
<button onclick="c1_totalstr()">Cohesion intercept</button>

<br>
<div id="demo3"></div>
<div id="demo4"></div>

<p class="notp">Click the button to display the angle of the friction and cohesion intercept for effective stress envelope.</p>
<br>
<button onclick="fi_effstr()">angle of friction(Φ) </button>
<button onclick="c1_effstr()">Cohesion intercept</button>
<div id="demo5"></div>
<div id="demo6"></div>
<script src="{% static 'js/page.js' %}"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</body>
</html>