body{
    background-image: url('https://cdn.pixabay.com/photo/2016/08/28/18/28/star-1626550__340.jpg');
    color: aliceblue;
    background-color:#14171A;
}
table {
    border-collapse: collapse;
    width: 100%;
    background-color: #2a2e35;
}
td, th {
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #454e56;
}
td a{
    text-decoration: none;
    font-weight: bold;
}
.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow:auto;
}
.app{
    max-width: 960px;
    margin: auto;
}
.leaderboard{
    display: flex;
}
.modal-form{
    max-width: 600px;
    margin: auto;
}
.projects-section{
    background-color: none;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.authentication{
    display: flex;   
}
.topnav {
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content:space-between; 
    background-color:black;
    color: aliceblue; 
    padding-top:8px
}
#myLinks {
    display: none;
    margin-top:50px;
}
.topnav a {
    padding: 4px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}
.projects{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 80%;
}
.projects img{
    width: 100%;
    object-fit: fill;
    height: auto;
}
footer{
    background-color:black;
}
.tooltip {
    position: relative;
    display: inline-block;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
@media screen and (max-width: 700px) {
    .authentication{
        display: flex;
        flex-direction: column;
        width: 80%;
    }
    .projects{
        width: 90%;
        grid-template-columns: 1fr 1fr;
    }
}

label > input[type="radio"] {
    display: none;
}
label > input[type="radio"] + *::before {
    content: "";
    display: inline-block;
    vertical-align: bottom;
    width: 1rem;
    height: 1rem;
    margin-right: 0.8rem;
    border-radius: 50%;
    border-style: solid;
    border-width: 0.11rem;
    border-color: gray;
}
label > input[type="radio"]:checked + *::before {
    background: radial-gradient(blue 0%, blue 40%, transparent 50%, transparent);
    border-color: blue;
}
label > input[type="radio"]:checked + * {
    color: blue;
}