{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"/>
    <script src="{% static 'js/base.js' %}"></script>
    <link rel="icon" href="https://cdn.pixabay.com/photo/2016/12/17/15/50/logo-1913689_960_720.png" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <script src="https://cdn.plot.ly/plotly-2.12.1.min.js"></script>
  </head>
  <body>
    <nav class="topnav w3-top">
      <a href="{% url 'home' %}"><img style="width: auto; height: 40px" src="https://cdn.pixabay.com/photo/2016/12/17/15/50/logo-1913689_960_720.png" alt="logo"/></a>
      <a href="javascript:void(0);" class="w3-right w3-xlarge" onclick="myFunction()"><i class="fa fa-bars"></i></a>
    </nav>
    <div id="myLinks">
      <a href="{% url 'quiz:quiz_list' %}" style="width:33%" class="w3-button">Quiz</a>
      <a href="{% url 'explo:sans' %}" style="width:33%" class="w3-button"> Explo</a>
      <a href="{% url 'problemset:problemset' %}" style="width:33%" class="w3-button">CF-lite</a>
    </div>
    <div class="app">
      <div class="w3-container w3-padding-64">
        {% block content %} {% endblock %}
      </div>
    </div>
    <footer class="w3-bottom w3-center w3-text-grey w3-xlarge">
      <a href="https://www.instagram.com/23_sans_/"><i class="fa fa-instagram w3-hover-opacity"></i></a>
      <a href="https://twitter.com/sans1823"><i class="fa fa-twitter w3-hover-opacity"></i></a>
      <a href="https://www.linkedin.com/in/sanskar-jain-7285a91b3/"><i class="fa fa-linkedin w3-hover-opacity"></i></a>
      <a href="https://github.com/sans-23"><i class="fa fa-github w3-hover-opacity"></i></a>
    </footer>
    <script>
      function myFunction() {
        var x = document.getElementById("myLinks");
        if (x.style.display === "block") {
          x.style.display = "none";
        } else {
          x.style.display = "block";
        }
      }
    </script>
  </body>
</html>
