{% extends 'quiz/base.html' %}
{% block content %}
{% if quiz.author == request.user %}

      <div class="w3-container w3-padding-48 w3-half">
        <div class="w3-center">
        <img class="w3-padding w3-centered" style="width: 80%;" src="https://cdn.pixabay.com/photo/2016/05/30/14/46/man-1424877_960_720.png">
        </div>
          <p>Total Questions : {{quiz.question_set.count}}</p>

          {% if quiz.question_set.count >= 20 %}
          <p style="color:red"><span>MAX QUES LIMIT</span></p>
          {% else %}
          <a class="w3-button w3-round-large w3-blue w3-bar w3-margin-bottom" href="{% url 'quiz:question_create' slug=quiz.slug %}">Add Question</a>
          {% endif %}
        
          {% for question in questions %}
          <div class="w3-container w3-round-large w3-border w3-text-white">
            <p>Q. {{question.question}}</p>
            <hr>
            <div>A. {{question.option1}}</div>
            <div>B. {{question.option2}}</div>
            <div>C. {{question.option3}}</div>
            <div>D. {{question.option4}}</div>
            <strong><a class="w3-text-green w3-left" href="{% url 'quiz:question_update' question.id %}">Edit</a></strong>
            <strong><a class="w3-text-deep-orange w3-right" href="{% url 'quiz:question_delete' question.id %}">Delete</a></strong>
          </div>
          {% endfor %}
          <br>
        <input class="w3-input w3-round" type="text" value="sans1812.pythonanywhere.com{% url 'quiz:exam' slug=slug %}" id="myInput">
      <div class="tooltip">
      <button class="w3-button w3-blue w3-round w3-right" onclick="myFunction()" onmouseout="outFunc()">
        <span class="tooltiptext" id="myTooltip">Copy to clipboard</span>
        Copy text
        </button>
      </div>
      </div>

      <div class="w3-container w3-center w3-padding-48 w3-half">
        <div class="leaderboard" style="display:flex; align-items:center; justify-content:start">
          <img class="w3-padding" style="width: 25%;" src="https://cdn.pixabay.com/photo/2022/06/10/11/54/win-7254378__340.png" alt="">
          <p style="font-size:1.8em">Leaderboard</p>
        </div>
        <table>
          <tr>
            <th>PARTICIPANT</th>
            <th>SCORE</th>
            <th>RESPONSE</th>
          </tr>
          {% for report in reports %}
          <tr>
            <td>{{report.student}} <span class="w3-badge w3-white">{{report.attempt}}</span></td>
            <td>{{report.score}}</td>
            <td><a href="{% url 'quiz:responses' slug=slug userid=report.student.id %}">Response </a></td>
          </tr>
          {% endfor %}
        </table>

        <img class="w3-margin" style="width: 60%;" src="https://cdn.pixabay.com/photo/2016/06/13/15/07/presentation-1454403__340.png" alt="">

        <table>
          <tr><th>MY QUIZ</th><th>RESULT</th></tr>
          {% for quiz in my_quizes %}
          <tr>
            <td><a href="{% url 'quiz:question_list' slug=quiz.slug %}">{{quiz.title}} </a></td>
            <td><a href="#"><i class="material-icons">people</i> <span>{{quiz.report_set.count}}</span></a></td>
          </tr>
          {% endfor %}
        </table>
      </div>

      <script>
      function myFunction() {
        var copyText = document.getElementById("myInput");
        copyText.select();
        copyText.setSelectionRange(0, 99999);
        document.execCommand("copy");

        var tooltip = document.getElementById("myTooltip");
        tooltip.innerHTML = "Copied: " + copyText.value;
      }

      function outFunc() {
        var tooltip = document.getElementById("myTooltip");
        tooltip.innerHTML = "Copy to clipboard";
      }
      </script>
    </div>
    {% else %}
    <h1>OOPs You are on the wrong page</h1>
    {% endif %}
{% endblock %}
