{% extends "quiz/base.html" %}
{% block content %}

{% if request.user == quiz.author %}
  <form class="w3-container w3-round-large w3-border w3-text-indigo w3-margin" action="" method="post">
    <h2 class="w3-indigo w3-round w3-center">Adding to {{quiz}}</h3>
    <hr>
    {% csrf_token %}
    {{ form.as_p }}
    <input class="w3-button w3-round w3-left w3-section w3-red w3-padding" type="submit" onclick=window.location="{% url 'quiz:quiz_list' %}" ; return false;" value="Cancel">
    <input class="w3-button w3-round w3-right w3-section w3-indigo w3-padding" type="submit" value="Submit">
  </form>

{% else %}
    <h1><i class="material-icons md-72">https</i>You are not allowed to add question to the quiz that doesn't belong to you.. </h1>
{% endif %}

{% endblock %}