{% extends 'quiz/base.html' %}

{% block content %}

<div class="w3-container w3-half w3-padding-32">

  <input class="w3-input w3-border w3-padding w3-round" type="text" placeholder="Search for quiz..." id="myInput" onkeyup="myFunction()">
</br>
  <table id="myTable">
    <tr>
      <th style="width:60%;">Quiz</th>
      <th style="width:50%;">Examiner</th>
    </tr>
    {% for quiz in quizes %}
    <tr>
      <td><a href="{% url 'quiz:exam' slug=quiz.slug %}">{{quiz.title}}</a></td>
      <td>{{quiz.author}}</td>
    </tr>
    {% endfor %}
  </table>  
</div>

<div class="w3-container w3-padding-32 w3-half">

  <form method="post">
    {% csrf_token %}
    <input type="text" class="w3-input w3-round" name="title" placeholder="Create quiz..." required>
    <input class="w3-button w3-blue w3-round w3-section w3-ripple w3-right" type="submit" value="Create">
  </form>
  <br><br><br>

  <img style="width: 60%;" src="https://cdn.pixabay.com/photo/2014/04/02/10/52/certificate-304775__340.png" alt="">

  {% if reports %}

  <table>
    <caption class="w3-centre">Reports</caption>
    <tr>
      <th>QUIZ</th>
      <th>SCORE</th>
    </tr>
    {% for report in reports %}
    <tr>
      <td>{{report.quiz}}</td>
      <td>{{report.score}}</td>
    </tr>
    {% endfor %}
  </table>

  <img class="w3-padding" style="width: 50%;" src="https://cdn.pixabay.com/photo/2014/03/25/16/27/literature-297187__340.png" alt="">

  {% else %}
  <p></p>
  {% endif %}

  <table>
    <tr>
      <th>MY QUIZ</th>
      <th>RESULT</th>
    </tr>
    {% for quiz in my_quizes %}
    <tr>
      <td><a href="{% url 'quiz:question_list' slug=quiz.slug %}">{{quiz.title}} </a></td>
      <td><span class="w3-hide-small">Participants</span> <span>{{quiz.report_set.count}}</span></td>
    </tr>
    {% endfor %}
  </table>
</div>

<script>
function myFunction() {
  var input, filter, table, tr, td, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>
{% endblock %}