{% extends 'quiz/base.html' %}

{% block content %}
{% if request.user.profile.is_pro %}
<h1 class="w3-padding-32 w3-white w3-circle w3-text-blue w3-center" style="font-family:cursive">Responses</h1>

<div class="w3-container">
<table class="w3-table-all w3-card-4 w3-text-blue" style="color:black">
  <caption class="w3-card w3-centre w3-white">Response-sheet</caption>
  <tr>
    <th>QUESTION</th>
    <th>RESPONSE</th>
    <th>STATUS</th>
  </tr>
  {% for res in response %}
  <tr>
    <td style="color:black"><i class="material-icons">help</i>{{res.question}}</td>
    <td style="color:black">{{res.answer}}</td>
    {% if res.is_correct %}
    <td style="color:green">Correct <span class="w3-badge w3-green">{{res.attempt}}</span></td>
    {% else %}
    <td style="color:red">Incorrect <span class="w3-badge w3-red">{{res.attempt}}</span></td>
    {% endif %}
  </tr>
  {% endfor %}
</table>
</div>

{% else %}
<div class="w3-container w3-light-grey">
  <h1 class="w3-padding-32 w3-red w3-card w3-text-white w3-center" style="font-family:cursive">You are not a pro user</h1>
  <p class="w3-panel w3-pale-red w3-leftbar w3-border-red">Send your request in feedback section to become a pro user
    and get responses of all your participants. It may take time to process the request.</p>
</div>

{% endif %}

<a href="{% url 'quiz:quiz_list' %}">Back to main page</a>

{% endblock %}
