{% extends 'quiz/base.html' %}

{% block content %}

<form class="w3-container w3-card-4 w3-light-grey w3-text-blue w3-margin" action="{% url 'accounts:login' %}" method="post">
  <div class="w3-container w3-blue">
  <h2>Log In</h2>
</div>

  {% csrf_token %}
    {{ form.as_p }}

    {% if request.GET.next %}
    <input class="w3-button w3-block w3-section w3-blue w3-ripple w3-padding" type="hidden" name="next" value="{{ request.GET.next }}">
    {% endif %}
    <input class="w3-button w3-block w3-section w3-blue w3-ripple w3-padding" type="submit" value="Login">
</form>

{% endblock %}