{% extends 'codeforces/base.html' %}
{% block content %}

    <div>
      {{pagination | safe}}
    </div>
    <br>
    <div class="datatable w3-table-all">
      {{problems | safe}}
    </div>
    <br>
    <div class="w3-border w3-padding w3-mobile w3-round-xlarge w3-white">

        <div class="caption titled">→ Filter Problems
          <div class="top-links">
          </div>
        </div>

          <div style="padding: 0.5em;">
            <form action="" method="get">
                <div class="_FilterByTagsFrame_difficulty">
                    <style>
                      ._FilterByTagsFrame_difficulty input {
                          width: 6rem;
                        }
                    </style>
                    <label>
                    Difficulty: <span style="float: right"><input name="minDifficulty" value="1300"> — <input name="maxDifficulty" value="1400"></span>
                    </label>
                </div>
                <div class="_FilterByTagsFrame_button">
                  <input type="submit" value="Apply">
                </div>
              </form>
          </div>
            
    </div>

{% endblock %}
